
{% extends '../baseCustomer.html' %}
{% load static %}

{%block contentCustomer %}
<div class="session-two"> <!--Phần conten nội dung trang-->
        <div class="baner-image">
            <div class="baners baner-left">
                <div class="baner-ones">
                    <a class="imge-for" href="#"><img src="{% static 'plugins/images/baner-imge/h3-banner1.jpg' %}" alt=""></a>
                </div>
            </div>
            <div class="baners baner-center">
                <div class="baner-twos">
                    <a class="imge-for" href="#"><img src="{% static 'plugins/images/baner-imge/h3-banner2.jpg' %}" alt=""></a>
                </div>
            </div>
            <div class="baners baner-right">
                <div class="baner-fathers">
                    <a class="imge-fors" href="#"><img src="{% static 'plugins/images/baner-imge/h3-banner5.jpg' %}" alt=""></a>
                </div>
            </div>
        </div>
        <div class="products-content">
            <div class="title-h3">
                <h3>Sản Phẩm Mới</h3>
                <p>Hiển Thị Các Dòng Sản Phẩm Mới</p>
            </div>
            <div class="contaier-item-slider"> <!--phan show product-->
                {% for product in listProduct %}
                    <div class="owl-item">
                    <div class="inner">
                        <div class="imge-item">
                            <div class="img-box">
                                <a class="imge-product" href="#">
                                    <img src="/media/{{ product.image }}" alt="">
                                </a>
                            </div>
                            <div class="imge-info">
                                <div class="information-products">
                                    <div class="product-name">
                                        <a href="/home/product/{{ product.slug }}">{{ product.name }}</a>
                                    </div>
                                    <div class="price-product">
                                        <div class="price-ns">
                                            <span class="price-base">{{ product.price }} đ</span>
                                        </div>
                                        <div class="price-ns">
                                            <span class="price-sale">{{ product.sale_price }} đ</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="add-to-cart">
                                    <div class="to-cart">
                                        <a href="#"><span>Thêm Giỏ Hàng</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="special-offer"> <!--phan baner giua trang-->
                <div class="row">
                    <div class="col-6">
                        <img class="offter-img" src="{% static 'plugins/images/baner-imge/d&g-vip.png' %}" alt="">
                    </div>
                    <div class="col-6">
                        <div class="offter">
                            <p>Trung Thu Bạn Tặng Người Yêu Món Quà Đặt Biệt Này Nhé</p>
                            <h1>Bộ Sưu Tập Dolce & Gabbana</h1>
                            <span>Chủ đề của bộ sưu tập được lấy cảm hứng bởi khu vườn với những bông hoa hồng nở rộ và những bông hoa mẫu đơn khoe sắc tạo nên một bức tranh lãng mạn và nên thơ</span><br>
                            <div class="neon">
                                <a href="#">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    Mua Ngay
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" style="background-image:url({% static 'plugins/images/baner-imge/imge-bottom/20170428182343-tui-handmade-2.jpg' %})"></div>
                    <div class="swiper-slide" style="background-image:url({% static 'plugins/images/baner-imge/imge-bottom/5bab8d950155a75938655ed00aed0f9c.jpg)' %}"></div>
                    <div class="swiper-slide" style="background-image:url({% static 'plugins/images/baner-imge/imge-bottom/66523edee8dc142e4d1145e46541df9d.jpg)' %}"></div>
                    <div class="swiper-slide" style="background-image:url({% static 'plugins/images/baner-imge/imge-bottom/74ed53dda684893066069a1b2a661092.jpg)' %}"></div>
                    <div class="swiper-slide" style="background-image:url({% static 'plugins/images/baner-imge/imge-bottom/9c1ed5f5c1eaf6c75cd9b905ceb5f113.jpg)' %}"></div>
                    <div class="swiper-slide" style="background-image:url({% static 'plugins/images/baner-imge/imge-bottom/photo-0-1493427725627.jpg)' %}"></div>
                    <div class="swiper-slide" style="background-image:url({% static 'plugins/images/baner-imge/imge-bottom/7-af9b2d0b46cc180898c83df7a1cba0de.jpg)' %}"></div>
                    <div class="swiper-slide" style="background-image:url({% static 'plugins/images/baner-imge/imge-bottom/8-tui-gucci-hoa-van-nau-mat-truoc.jpg)' %}"></div>
                    <div class="swiper-slide" style="background-image:url({% static 'plugins/images/baner-imge/imge-bottom/9preview2_tui-gucci-deo-cheo-fullbox-.jpg)' %}"></div>
                    <div class="swiper-slide" style="background-image:url({% static 'plugins/images/baner-imge/imge-bottom/10-80fa9cb1dd74d7b32b9e272f427cae93.jpg)' %}"></div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>
{%endblock%}