{% extends '../base.html' %} {%block content %}

<section class="content">
    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Sửa sản phẩm</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
          <i class="fas fa-minus"></i>
        </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
          <i class="fas fa-times"></i>
        </button>
            </div>
        </div>
        <div class="card-body">
            <form id="aa_form" method="post" action="" enctype="multipart/form-data">

                {% csrf_token %}
                {% for hidden in productForm.hidden_fields %}
                    {{ hidden }}
                {% endfor %}
            
                <!-- {% for field in productForm %}
                    {{ field.code }} <br />
                    {{ field.name }} <br />
                    {{ field.slug }} <br />
                {% endfor %} -->
                    {{ productForm.media }}

                <div class="form-group">
                    <label for="">Mã sản phẩm</label> {{ productForm.code }} {{productForm.code.errors}}
                </div>
                <div class="form-group">
                    <label for="">Tên sản phẩm</label> {{ productForm.name }} {{productForm.name.errors}}
                </div>
                <div class="form-group">
                    <label for="">Tên SEO sản phẩm</label> {{ productForm.slug }} {{productForm.slug.errors}}
                </div>
                <div class="form-group">
                    <label for="">Danh mục sản phẩm</label> {{ productForm.category }} {{productForm.category.errors}}
                </div>
                <div class="form-group">
                    <label for="">Giá sản phẩm</label> {{ productForm.price }} {{productForm.price.errors}}
                </div>
               
                <label for="">Mô tả sản phẩm</label>
                <div class="form-group">
                     {{ productForm.content }} {{form.content.errors}} 
                </div>
                <div class="form-group">
                    <label for="">Hiện thị :</label> {{ productForm.status }}
                </div>
                

            
                {{ formset.management_form }}
                {% for form in formset %}
                    {{ form }}
                {% endfor %}
            
            
                <input type="submit" name="submit" value="Lưu" class="btn btn-primary" />
            </form>
        </div>
        <!-- /.card-body -->
        <div class="card-footer"></div>
        <!-- /.card-footer-->
    </div>
    <!-- /.card -->
</section>



{%endblock%} {%block js%}
<script type="text/javascript">
    $(document).ready(() => {
        $("form input").addClass("form-control");
        $("form select").addClass("form-control");
        $("form textarea").addClass("form-control");
    });
</script>
{%endblock%}