{% extends '../base.html' %}
{%block content %}
<section class="content">
    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Danh sách sản phẩm</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
          <i class="fas fa-minus"></i>
        </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
          <i class="fas fa-times"></i>
        </button>
            </div>
        </div>
        <div class="card-body">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th style="width:15%">Mã sản phẩm</th>
                        <th>Tên sản phẩm</th>
                        <th>Danh mục</th>
                        <th>Giá</th>
                        <th>Giá khuyến mại</th>
                        <th>phần trăm được giảm</th>
                        <th>Trạng thái</th>
                        <th></th>
                    </tr>
                </tbody>
                {% for p in products %}
                <tr>
                    {% load mathfilters %}
                    <td>{{ p.code }}</td>
                    <td>{{ p.name }}</td>
                    <td>{{ p.category }}</td>
                    <td>{{ p.price }} <b>VNĐ</b> </td>
                    <td>{{ p.sale_price }} <b>VNĐ</b> </td>
                    <td>{{ p.price|sub:p.sale_price|div:p.price|mul:100 }} <b>%</b></td>
                    <td>
                        {%if p.status == 0%} ẩn {%endif%} {%if p.status == 1%} hiển thị {%endif%}
                    </td>
                    <td>
                        <a href="/staff/product/update/{{ p.id }}" class="btn btn-secondary">Sửa</a>
                        <a href="/staff/product/detail/{{ p.id }}" class="btn btn-success">Chi tiết</a>
                        <a href="javascript:deleteCategory({{ p.id }})" class="btn btn-danger">Xóa</a>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <!-- /.card-body -->
        <div class="card-footer">
            {% load mathfilters %}

            <h1>Basic math filters</h1>

            <ul>
                <li>8 + 3 = {{ 8|add:3 }}</li>

                <li>13 - 17 = {{ 13|sub:17 }}</li>

                {% with answer=42 %}
                <li>42 * 0.5 = {{ answer|mul:0.5 }}</li>
                {% endwith %}

                {% with numerator=12 denominator=3 %}
                <li>12 / 3 = {{ numerator|div:denominator }}</li>
                {% endwith %}

                <li>|-13| = {{ -13|abs }}</li>
            </ul>
        </div>
        <!-- /.card-footer-->
    </div>
    <!-- /.card -->
</section>
{%endblock%}
{%block js%}
<script type="text/javascript">
    function deleteCategory(id) {
        if (confirm('Bạn có muốn xóa?')) {
            location.href = '/staff/product/delete/' + id;
        }
    }
</script>
{%endblock%}