{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Sevillana&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'plugins//bootstrap-css-js/css/bootstrap.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'plugins/fonts/Roboto/stylesheet.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/fontawesome/css/all.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/detail-product.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/syte.css' %}">
    <title>Inside Product</title>
</head>
<body>
    <div class="product-one session-one">
        <div class="hear">
            <div class="container">
                <div class="heard-top">
                    <div class="logo">
                        <div class="image-logo">
                            <a href=""><img src="{% static 'plugins/images/logo-3.png' %}" alt=""></a>
                        </div>
                    </div>
                    <div class="menubar">
                        <ul class="tool-menu">
                            <li class="menu-item menu-post-1"><a href="#">Home</a></li>
                            <li class="menu-item menu-post-2"><a href="#">Sản Phẩm</a></li>
                            <li class="menu-item menu-post-5"><a href="#">Khuyến Mãi</a></li>
                            <li class="menu-item menu-post-3"><a href="#">Giới Thiệu</a></li>
                            <li class="menu-item menu-post-4"><a href="#">Liên Hệ</a></li>
                            <li class="menu-item menu-post-5"><a href="#">Giỏ Hàng</a></li>
                        </ul>
                    </div>
                    <div class="login-search-cart">
                        <div class="icon login-in">
                            <div class="login"><i class="icons fas fa-user"></i></div>
                            <div class="box-top">
                                <i class="fas fa-caret-up"></i>
                                <ul class="link">
                                    <li><a href="#"><i class="icons fas fa-user"></i>Tài Khoản Tôi</a></li>
                                    <li><a href="#"><i class="icons fas fa-unlock-alt"></i>Đăng Nhập</a></li>
                                    <li><a href="#"><i class="icons fas fa-sign-in-alt"></i>Đăng Xuất</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="icon search-in">
                            <div class="search"><i class="icons fas fa-search"></i></div>
                            <div class="box-top">
                                <i class="fas fa-caret-up"></i>
                                <input id="search" type="search" class="input-text form-control" placeholder="Nhập Từ Khoá Tìm Kiếm...">
                                <button class="form-button btn btn-primary" type="submit">Tìm Kiếm</button>
                            </div>
                        </div>
                        <div class="icon cart-in">
                            <div class="cart"><i class="icons fas fa-shopping-cart"></i></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="banner-product">
            <div class="banner-one">
                <div class="img-product">
                    <img src="{% static 'plugins/image-detail/rex-shopping-arcade-IPPG-1.jpeg' %}" alt="">
                </div>
                <div class="product-title">
                    <h1>Sản Phẩm</h1>
                    <ul>
                        <li>
                            <a href="#">Trang Chủ</a>
                            <span>/</span>
                            <span><a href="#">Túi Sách</a></span>
                            <span>/</span>
                            <span><a href="#">Túi xách nữ thời trang NINE WEST</a></span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container-sessions">
        <div class="inside-product">
            <div class="row">
                <div class="col-5">
                    <div class="inside-product-left">
                        <div class="exzoom" id="exzoom">
                            <!-- Images -->
                            <div class="exzoom_img_box">
                                <ul class='exzoom_img_ul'>
                                    <li><img src="{% static 'plugins/image-detail/2119455_L.jpg' %}"/></li>

                                </ul>
                            </div>
                            <!-- <a href="https://www.jqueryscript.net/tags.php?/Thumbnail/">Thumbnail</a> Nav-->
                            <div class="exzoom_nav"></div>
                            <!-- Nav Buttons -->
                            <p class="exzoom_btn">
                                <a href="javascript:void(0);" class="exzoom_prev_btn"> < </a>
                                <a href="javascript:void(0);" class="exzoom_next_btn"> > </a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-7">
                    <div class="inside-product-right">
                        <p class="product-new">NEW</p>
                        <h2>Túi Xách Nữ Thời Trang NINE WEST</h2>
                        <p class="codes">Mã Sản Phẩm: 2119455</p>
                        <img class="stars" src="{% static 'plugins/image-detail/5-stars-png-transparent-300x200.png' %}" alt="">
                        <div class="price-one">
                            <p class="price-1">2.490.000đ</p>
                            <p class="price-2">5.490.000đ</p>
                        </div>
                        <div class="parameter">
                            <ul>
                                <li>Thành phần chất liệu: Artificial Leather / Cotton</li>
                                <li>Kiểu dáng túi đeo vai chữ nhật thời trang</li>
                                <li>Khóa cài zip kim loại tiện dụng</li>
                                <li>Dây đeo vai mảnh, có thể tháo rời</li>
                                <li>In tên thương hiệu nổi bật phía trước</li>
                                <li>Gam màu hiện đại, phù hợp với nhiều trang phục </li>
                                <li>Kích thước: W:29 x H:16 x D:11.5 cm</li>
                                <li>Xuất xứ thương hiệu: Hàn Quốc</li>
                            </ul>
                        </div>
                        <p><b>Thương Hiệu:</b> Hàn Quốc(Korea)</p>
                        <p><b>Bảo Hành:</b> 3 năm</p>
                        <p><b>Khuyến Mãi:</b> Dây Lưng Đeo</p>
                        <label for="">Số Lượng:</label>
                        <input type="text" value="1">
                        <button type="button" class="btn btn-default cart">Thêm Giỏ Hàng</button>
                        <button type="button" class="btn btn-info">Mua Ngay</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="product-description">
            <div class="description">
                <ul class="tabs">
                    <li class="tabss description-tab active" data-hienlen="tab-description"><a href="#tab-description">Chí Tiết Sản Phẩm</a></li>
                    <li class="tabss reviews-tab" data-hienlen="tab-reviews"><a href="#tab-reviews">Nhận Xét</a></li>
                </ul>
                <div class="content-description descriptionss inra" id="tab-description">
                    <h3>TÚI XÁCH NỮ DA THẬT CAO CẤP VELISA TD198</h3>
                    <p>Với vẻ kiêu hãnh vốn có của túi xách đã làm nên sự hấp dẫn cũng với nét quyễn rũ, sang trọng của nó. Bất cứ chị em nào cũng muốn được khoác lên mình những chiếc túi da thật để tôn lên vẻ đẹp và thể hiện sự đẳng cấp gu thẩm mỹ thời trang của mình. VELISA muốn trao cho bạn sự tự tin, kiêu hãnh bởi sản phẩm bạn tin dùng, bởi vẻ đẹp hảo cùng với chất lượng vượt trội siêu phẩm mới nhất của VELISA. Túi xách nữ da thật cao cấp Velisa 198</p>
                    <img src="{% static 'plugins/image-detail/1tui-da1989.jpg' %}" alt="">
                    <p>Túi xách nữ da thật cao cấp Velisa 198 với chất liệu da bò nhập khẩu, bề mặt da vân tự nhiên, màu sắc dịu dàng thanh lịch vừa phù hợp cho cả đi làm, đi chơi cho các chị em, thiết kế đơn giản nhưng không bao giờ lỗi mốt cùng giá cả vô cùng cạnh tranh chính là điểm mạnh của thương hiệu VELISA.</p>
                    <img src="{% static 'plugins/image-detail/1tui-da19810.jpg' %}" alt="">
                </div>
                <div class="content-description descriptions" id="tab-reviews">
                    <h3>Đặt câu hỏi về sản phẩm</h3>
                    <div class="review-form">
                        <div class="form-new-review">
                            </div>
                            <div class="review-pro">
                                <label for="comment">Câu hỏi của khách hàng</label>
                                <textarea name="comment" id="comment" cols="45" rows="8"></textarea>
                            </div>
                            <div class="form-comment">
                                <div class="forms-comment-name">
                                    <label for="author">Tên *</label>
                                    <input type="text" name="author" id="author" value size="30" required>
                                </div>
                                <div class="forms-comment-email">
                                    <label for="author">Email *</label>
                                    <input type="text" name="author" id="author" value size="30" required>
                                </div>
                            </div>
                            <input type="submit" name="submit" id="submit" class="submit" value="Gửi Đi">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="session-father"> <!--Phần Cuối Trang-->
        <div class="footer">
            <div class="footer-top">
                <div class="row">
                    <div class="col-3 footer-one">
                        <div class="logo-bottom">
                            <img src="{% static 'plugins/images/logo-3.png' %}" alt="">
                        </div>
                        <div class="bottom-inline">
                            <div class="bottom-info-inline">
                                <i class="fas fa-map-marker-alt"></i>
                                <span>Ngõ 196 Hoàng Mai - Quận Hai Bà Trưng - Hà Nội</span>
                            </div>
                            <div class="bottom-info-inline">
                                <a href="#"><i class="view fas fa-envelope"><span>vanhiepcntt2405@gmail.com</span></i></a>
                            </div>
                            <div class="bottom-info-inline">
                                <a href="tel:+(84)399525673" target=""><i class="view fas fa-phone-square"><span>0399525673</span></i></a>
                            </div>
                            <div class="bottom-info-inline">
                                <i class="fas fa-clock"></i>
                                <span>Thứ 2 - Thứ 7 Mở Cửa 8:00 AM - 5:00 PM</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-3 footer-two">
                        <div class="center-bottom-left">
                            <h2>Hỗ Trợ Khách Hàng</h2>
                            <ul>
                                <li><i class="fas fa-crosshairs"><a href="#">Hình Thức Mua Hàng</a></i></li>
                                <li><i class="fas fa-crosshairs"><a href="#">Phương Thức Thanh Toán</a></i></li>
                                <li><i class="fas fa-crosshairs"><a href="#">Phương Thức Vận Chuyển</a></i></li>
                                <li><i class="fas fa-crosshairs"><a href="#">Bảo Mật Thông Tin</a></i></li>
                                <li><i class="fas fa-crosshairs"><a href="#">Chính Sách Bảo Hành</a></i></li>
                                <li><i class="fas fa-crosshairs"><a href="#">Chính Sách Đổi Trả, Hoàn Tiền</a></i></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-3 footer-father">
                        <div class="center-bottom-right">
                            <h2>Thông Tin Cửa Hàng</h2>
                            <ul>
                                <li><i class="fas fa-crosshairs"><a href="#">Giới Thiệu</a></i></li>
                                <li><i class="fas fa-crosshairs"><a href="#">Hướng Dẫn Đặt Hàng</a></i></li>
                                <li><i class="fas fa-crosshairs"><a href="#">Điều Khoản Sử Dụng</a></i></li>
                                <li><i class="fas fa-crosshairs"><a href="#">Dịch Vụ Khách Hàng</a></i></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-3 footer-four">
                        <h2>Nhận Bản Tin</h2>
                        <div class="form-check">
                            <div class="input-wrap">
                                <label for="">Đăng Ký Email Để Nhận 20% Giảm Giá Các Sản Phẩm</label>
                                <input class="tnp-email" type="email" placeholder="Nhập Địa Chỉ Email ...">
                                <input class="tnp-submit" type="submit" value="Đăng Ký">
                            </div>
                        </div>
                        <h3>Chia Sẻ Trên Mạng Xã Hội:</h3>
                        <div class="iconend">
                            <ul>
                                <li><a href="#"><i class="effect fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="effect fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="effect fab fa-youtube"></i></a></li>
                                <li><a href="#"><i class="effect fab fa-pinterest"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="row">
                <div class="col-8">
                    <div class="col-sm-8 contenend">
                        <p>Copyright ©2019 All rights reserved | This template is made with <i class="fas fa-heartbeat"></i> by <a href="#">Colorlib</a></p>
                    </div>
                </div>
                <div class="col-4">
                    <div class="figure">
                        <div class="icon-img-figure">
                            <img src="{% static 'plugins/images/baner-imge/pays-method.png' %}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="{% static 'plugins/detail-product.js' %}"></script>

<script type="text/javascript">
    $(function(){

        $("#exzoom").exzoom({
            "autoPlay": false,
        });

    });



</script>
</html>