{% extends '../base.html' %} {%block content %}
<section class="content">
    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Danh sách danh mục</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
          <i class="fas fa-minus"></i>
        </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
          <i class="fas fa-times"></i>
        </button>
            </div>
        </div>
        <div class="card-body">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th style="width:15%">Mã sự kiện</th>
                        <th>Tên sự kiện</th>
                        <th>Mô tả sự kiện</th>
                        <th>Ngày bắt đầu</th>
                        <th>Ngày kết thúc</th>
                        <th>Trạng thái</th>
                        <th></th>
                    </tr>
                </tbody>
                {% for e in events %}
                <tr>
                    <td>{{ e.code }}</td>
                    <td>{{ e.name }}</td>
                    <td>{{ e.description | safe }}</td>
                    <td>{{ e.start_date }}</td>
                    <td>{{ e.end_date }}</td>
                    <td>
                        {%if e.status == 0%} ẩn {%endif%} {%if e.status == 1%} hiển thị {%endif%}
                    </td>
                    <td>
                        <a href="/staff/event/update/{{ e.id }}" class="btn btn-secondary">Sửa</a>
                        <a href="javascript:deleteEvent({{ e.id }})" class="btn btn-danger">Xóa</a>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <!-- /.card-body -->
        <div class="card-footer"></div>
        <!-- /.card-footer-->
    </div>
    <!-- /.card -->
</section>
{%endblock%} {%block js%}
<script type="text/javascript">
    function deleteEvent(id) {
        if (confirm('Bạn có muốn xóa?')) {
            location.href = '/staff/event/delete/' + id;
        }
    }
</script>
{%endblock%}