{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'plugins/bootstrap-css-js/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/fonts/Roboto/stylesheet.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/fontawesome/css/all.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Sevillana&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="{% static 'plugins/style.js' %}">
    <link rel="stylesheet" href="{% static 'plugins/syte.css' %}">
    <title>Trang Chủ</title>
</head>
<body>
    <div class="session-one"> <!--phan herad và baner-->
        <div class="hear">
            <div class="container">
                <div class="heard-top">
                    <div class="logo">
                        <div class="image-logo">
                            <a href=""><img src="{% static 'plugins/images/logo-3.png' %}" alt=""></a>
                        </div>
                    </div>
                    <div class="menubar">
                        <ul class="tool-menu">
                            <li class="menu-item menu-post-1"><a href="#">Home</a></li>
                            <li class="menu-item menu-post-2"><a href="#">Sản Phẩm</a></li>
                            <li class="menu-item menu-post-5"><a href="#">Khuyến Mãi</a></li>
                            <li class="menu-item menu-post-3"><a href="#">Giới Thiệu</a></li>
                            <li class="menu-item menu-post-4"><a href="#">Liên Hệ</a></li>
                            <li class="menu-item menu-post-5"><a href="#">Giỏ Hàng</a></li>
                        </ul>
                    </div>
                    <div class="login-search-cart">
                        <div class="icon login-in">
                            <div class="login"><i class="icons fas fa-user"></i></div>
                            <div class="box-top">
                                <i class="fas fa-caret-up"></i>
                                {% if user.is_authenticated  %}
                                <ul class="link">
                                    <li><i class="icons fas fa-user"></i>Xin chào: {{ request.user }}</li>
                                    <li><a href="/home/logout"><i class="icons fas fa-sign-in-alt"></i>Đăng Xuất</a></li>
                                </ul>
                                {% else %}
                                <ul class="link">
                                    <li><a href="#"><i class="icons fas fa-unlock-alt"></i>Đăng Nhập</a></li>
                                </ul>
                                {% endif %}
                            </div>
                        </div>
                        <div class="icon search-in">
                            <div class="search"><i class="icons fas fa-search"></i></div>
                            <div class="box-top">
                                <i class="fas fa-caret-up"></i>
                                <input id="search" type="search" class="input-text form-control" placeholder="Nhập Từ Khoá Tìm Kiếm...">
                                <button class="form-button btn btn-primary" type="submit">Tìm Kiếm</button>
                            </div>
                        </div>
                        <div class="icon cart-in">
                            <div class="cart"><i class="icons fas fa-shopping-cart"></i></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="baner-videos">
            <div class="baner">
                <video autoplay muted loop class="box-video">
                    <source type="video/mp4" src="{% static 'plugins/videos/The-making-of-the-Sicily-58-bag_1.mp4' %}">
                </video>
                <div class="black-coating">
                    <p class="text-coating">
                        <span style="font-size: 30px; font-family: sevillana, sans-serif;">Welcome To</span></br>
                        <span style="font-size: 60px; font-family: sevillana, sans-serif; color: #ffc229;">Brand Name Handbag Store</span>
                    </p>
                </div>
            </div>
        </div>
    </div>

     {%block contentCustomer %} {%endblock%}

    <div class="session-father"> <!--Phần Cuối Trang-->
        <div class="footer">
            <div class="footer-top">
                <div class="row">
                    <div class="col-3 footer-one">
                        <div class="logo-bottom">
                            <img src="{% static 'plugins/images/logo-3.png' %}" alt="">
                        </div>
                        <div class="bottom-inline">
                            <div class="bottom-info-inline">
                                <i class="fas fa-map-marker-alt"></i>
                                <span>Ngõ 196 Hoàng Mai - Quận Hai Bà Trưng - Hà Nội</span>
                            </div>
                            <div class="bottom-info-inline">
                                <a href="#"><i class="view fas fa-envelope"><span>vanhiepcntt2405@gmail.com</span></i></a>
                            </div>
                            <div class="bottom-info-inline">
                                <a href="tel:+(84)399525673" target=""><i class="view fas fa-phone-square"><span>0399525673</span></i></a>
                            </div>
                            <div class="bottom-info-inline">
                                <i class="fas fa-clock"></i>
                                <span>Thứ 2 - Thứ 7 Mở Cửa 8:00 AM - 5:00 PM</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-3 footer-two">
                        <div class="center-bottom-left">
                            <h2>Hỗ Trợ Khách Hàng</h2>
                            <ul>
                                <li><i class="fas fa-crosshairs"><a href="#">Hình Thức Mua Hàng</a></i></li>
                                <li><i class="fas fa-crosshairs"><a href="#">Phương Thức Thanh Toán</a></i></li>
                                <li><i class="fas fa-crosshairs"><a href="#">Phương Thức Vận Chuyển</a></i></li>
                                <li><i class="fas fa-crosshairs"><a href="#">Bảo Mật Thông Tin</a></i></li>
                                <li><i class="fas fa-crosshairs"><a href="#">Chính Sách Bảo Hành</a></i></li>
                                <li><i class="fas fa-crosshairs"><a href="#">Chính Sách Đổi Trả, Hoàn Tiền</a></i></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-3 footer-father">
                        <div class="center-bottom-right">
                            <h2>Thông Tin Cửa Hàng</h2>
                            <ul>
                                <li><i class="fas fa-crosshairs"><a href="#">Giới Thiệu</a></i></li>
                                <li><i class="fas fa-crosshairs"><a href="#">Hướng Dẫn Đặt Hàng</a></i></li>
                                <li><i class="fas fa-crosshairs"><a href="#">Điều Khoản Sử Dụng</a></i></li>
                                <li><i class="fas fa-crosshairs"><a href="#">Dịch Vụ Khách Hàng</a></i></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-3 footer-four">
                        <h2>Nhận Bản Tin</h2>
                        <div class="form-check">
                            <div class="input-wrap">
                                <label for="">Đăng Ký Email Để Nhận 20% Giảm Giá Các Sản Phẩm</label>
                                <input class="tnp-email" type="email" placeholder="Nhập Địa Chỉ Email ...">
                                <input class="tnp-submit" type="submit" value="Đăng Ký">
                            </div>
                        </div>
                        <h3>Chia Sẻ Trên Mạng Xã Hội:</h3>
                        <div class="iconend">
                            <ul>
                                <li><a href="#"><i class="effect fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="effect fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="effect fab fa-youtube"></i></a></li>
                                <li><a href="#"><i class="effect fab fa-pinterest"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="row">
                <div class="col-8">
                    <div class="col-sm-8 contenend">
                        <p>Copyright ©2019 All rights reserved | This template is made with <i class="fas fa-heartbeat"></i> by <a href="#">Colorlib</a></p>
                    </div>
                </div>
                <div class="col-4">
                    <div class="figure">
                        <div class="icon-img-figure">
                            <img src="{% static 'plugins/images/baner-imge/pays-method.png' %}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script>
    var swiper = new Swiper('.swiper-container', {
        effect: 'coverflow',
        grabCursor: true,
        centeredSlides: true,
        slidesPerView: 'auto',
        coverflowEffect: {
            rotate: 20,
            stretch: 0,
            depth: 200,
            modifier: 1,
            slideShadows: true,
        },
        loop: true,
        pagination: {
            el: '.swiper-pagination',
        },
    });
</script>
</html>